gunicorn
streamlit
pandas
langchain-community
langchain-openai
langchain-core
langgraph
faiss-cpu
python-dotenv
langchain
langchain-ollama
openpyxl
lancedb
beautifulsoup4
flask
requests
tiktoken
langchain-faiss
psutil
langgraph-checkpoint-redis
