gunicorn
streamlit
pandas
langchain-community
langchain-openai
langchain-core
langgraph
faiss-cpu
python-dotenv
langchain
langchain-ollama
openpyxl
lancedb
beautifulsoup4
flask
requests
tiktoken
langchain-faiss
psutil
langgraph-checkpoint-redis
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1
sqlalchemy[postgresql]==2.0.23
fastapi
uvicorn
python-multipart
